black
flake8
pytest
pytest-cov
mypy
docformatter
pre-commit
pydocstyle==6.1.1
toml
rdflib==6.3.2
pytest-cov
Flask>=2.3.3
Flask-RESTful>=0.3.10
pyparsing>=2.4.7
graphviz>=0.20.1
pydotplus>=2.0.2
ipython>=8.19.0